*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.css-typing{
 background-color: black;
  height:174px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18px;
  
}
.css-typing p {
  border-right: .15em solid orange;
  font-family: 'Roboto', sans-serif;;
  font-size: 18px;
  white-space: nowrap; /* The white-space property specifies how white-space inside an element is handled */
  overflow: hidden;
  color: white;
}
.css-typing p:nth-child(1) {
  width: 7.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end),blink .5s step-end infinite alternate;;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end),blink .5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 13.3em;
  opacity: 0; 
  /* -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate; */
  animation: type2 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  color: white;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* MENU HAMBURGUER */
section{
 /* background-image: url("./img/minimal2.jpg");*/
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger{
  background-color:transparent;
	height: fit-content;;
	width: fit-content;
  padding:6px 6px;
  cursor:pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  -webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
._layer{
	background: white;
	margin-bottom:4px;
	border-radius:2px;
  width: 23px;
  height: 2px;
  opacity:1;
  -webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top{
  /* transform: translateY(10px)rotate3d(1, 1, 1, 57deg); media queries*/
  transform:translateY(5px)rotate3d(1, 1, 15, 57deg);
}

.hamburger:hover .-mid{
/* transform: translateY(-2px)rotate3d(33, -39, -38, 57deg); media queries*/
transform: translateY(-2px)rotate3d(-4, -39, -106, 57deg);


}
.hamburger:hover .-bottom{
opacity:0;
}

.menuppal{
  position: fixed;
  top: 50px;
  right: 0;
  background-color: white;
  margin-right: 32px;
  padding: 8px 8px 8px 8px;   
}
.menuppal ul li {
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.link{
  text-decoration: none;
  color: black;
  opacity: 0.6; 
}
.home {
  color: #ff2e63;
}

.menuppal ul li a:hover{
  text-decoration:none;
  opacity: 1;
  color: #ff2e63;
}
.hidden{
  display: none;
}
/*MEDIA QUERIES IPAD*/

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .css-typing{
    height: 280px;
    padding-left: 33px;
  }
  .css-typing p{
    font-size: 26px;
  }
  .hamburger{
    width: 52px;
  }
  ._layer{
    width: 100%;
    height: 5px;
    margin-bottom: 7px;
  }
.hamburger:hover .-top{
      transform: translateY(10px)rotate3d(1, 1, 32, 57deg)
}

}

/*MEDIA QUERIES PC*/

@media all and (min-width:1200px) {
.css-typing{
  height: 800px;
  padding-left: 93px;
}
.css-typing p{
  font-size: 40px;
  margin-top: 15px;
}
.hamburger{
  margin-right: 30px;
  margin-top: 30px;
}
._layer{
  width: 42px;
  height: 6px;
  margin-bottom: 6px;
}
.hamburger:hover .-top{
transform: translateY(10px)rotate3d(1, 1, 1, 57deg); 
}
.hamburger:hover .-mid{
  transform: translateY(-2px)rotate3d(33, -39, -38, 57deg);
}
.menuppal{
  margin-top: 29px;
  padding: 15px 15px 15px 15px;
}
.menuppal ul li {
  font-size: 15px;
  margin-top: 9px;
}
}

/*MAIN*/
.main__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.aboutMypresentation{
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px;
}
.main__title{
  font-size: 22px;
  font-family: 'Mulish', sans-serif;
  width: 180px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.me{
  width: 100%;
}

.item-text{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
/*MEDIA QUERIES IPAD*/
@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
.item-text{
  font-size: 22px;
}
.aboutMypresentation{
  margin: 25px 25px 25px 25px;
}
.main__title{
  font-size: 25px;
  margin-bottom: 30px;
}
}


/*MEDIA QUERIES PC*/

@media all and (min-width:1200px){
  .main__title{
    font-size: 41px;
    width: 285px;
  }
  .item-text{
    font-size: 20px;
  }
  .aboutMypresentation{
    margin-top:120px;
    text-align: justify;
  }
  .container__presentation{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 48px;
  }
  .img__aboutMe{
    width: 600px;
  }
  .me{
    width: 600px;
  }
}


/*PORTFOLIO*/
.menu{
  background-color: cornsilk;
  padding-bottom: 20px;
}
.title{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.photo{
  width: 250px;
  height: auto;
  margin-bottom: 13px;
}
.btn-container{
  display: flex;
  justify-content: center;
}

.filter-btn{
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  border:black;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 6px 7px black;;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 5px;
}
.filter-btn:hover {
  color: white;
  background: black;
  opacity: 0.6;  ;
}


.section-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item{
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border: 1px solid moccasin;
}

/*CARD'S DESCRIPTION*/
h4, a{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
 .link__project{
   text-decoration: none;
   background-color: moccasin;
  cursor: pointer;
 }
 .item-info{
   display: flex;
 }
 .linkIcon{
   width: 20px;
   height: auto;
   margin-left: 6px;
 }

 /*MEDIAQUERIES IPAD*/
 @media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
.filter-btn{
  margin-top: 0;
  font-size: large;
  margin-right: 10px;
}
.section-center{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.photo{
  width: 290px;
  height: 221px;
}
.menu-item{
  margin-right: 15px;
}

 }
 /*MEDIA QUERIES PC*/
@media all and (min-width:1200px){
.section-center{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.photo{
  width: 290px;
  height: 221px;
}
.menu-item{
  margin-right: 50px;
  margin-bottom: 50px;
}
}


/*CONTACT*/
.contactArticle{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 50px;
}
.contactMe{
  width: 174px;
}
.form__container {
  margin-top:30px;

}
.contactForm{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 30px 45px 20px;
    background-color: white;
    box-shadow: 0px 5px 10px #b9bdbe, 0 0 0 10px #EEF5F7 inset;
    margin-right: 18px;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__label, .inputMessage{
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}
.contactForm label{
    display: block; 
  }

  .contactForm input[type='text'], .contactForm textarea{
    padding: 7px 6px;
    width: 200px; /* una longitud definida */
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contactForm input[type='text']:focus, .contactForm textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}

.contactForm input[type='submit']{
    border: none;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    text-shadow: 1px 1px 0px white;
    cursor: pointer;
    font-size: 10px;
    background-color: #f1f1f1;
    margin-top: 10px;
}
.contactForm input[type='submit']:hover{
   background-color: #ddd;
}
.contactForm input[type='submit']:active{
     background-color: #666;
 
}
/*MEDIAQUERIES IPAD*/
@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
.section__contact{
  display: flex;
  align-items: center;
}
}



/*MEDIA QUERIES PC*/
@media all and (min-width:1200px){
  .contactMe{
    width: 280px;
  }
  .contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__container{
    width: 540px;
    align-self: center;
  }
  }
.main__label, .inputMessage{
  font-size: 13px;
}

/*FOOTER*/
footer{
  border-top: 1px solid #ff2e63;;
  margin-top: 62px;

}
.footer__container{
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__list{

    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 10px;
}
.linkFooter{
  color: white;
  text-decoration: none;
}
.footerListLink{
  margin-bottom: 8px;
  margin-right: 8px;
}

.socialMedia{
  color: white;
text-decoration: none;
}

.imgSocial{
  width:20px;
height: 20px;
}
.footer__socialMedia{
  align-self: center;
}
.footer__list--socialIcons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    list-style: none;
}


/*MEDIA QUERIES IPAD*/
@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
  .footerListLink{
    font-size: 20px;
    margin-bottom: 15px;
  }
  .imgSocial{
    width: 39px;
    height: auto;
    margin-right: 10px;
}
}




/*MEDIA QUERIES PC*/
@media all and (min-width:1200px){
  .footerListLink{
  font-size: 20px;
  margin-bottom: 15px;
}
.imgSocial{
  width: 39px;
  height: auto;
  margin-right: 10px;
}
}