*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.css-typing{
 background-image: url("./img/minimal2.jpg");
  height: 250px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18px;
  
}
.css-typing p {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap; /* The white-space property specifies how white-space inside an element is handled */
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 7.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end),blink .5s step-end infinite alternate;;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end),blink .5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 13.3em;
  opacity: 0; 
  /* -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate; */
  animation: type2 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: black;
  color: white;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* MENU HAMBURGUER */
section{
 /* background-image: url("./img/minimal2.jpg");*/
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger{
  background-color:transparent;
	height: fit-content;;
	width: fit-content;
  padding:6px 6px;
  cursor:pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  -webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
._layer{
	background: black;
	margin-bottom:4px;
	border-radius:2px;
  width: 23px;
  height: 2px;
  opacity:1;
  -webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.menuppal{
  position: fixed;
  top: 50px;
  right: 0;
  background-color: white;
  margin-right: 32px;
  padding: 8px 8px 8px 8px;   
}
.menuppal ul li {
    text-decoration: none;
    list-style: none;
    font-family: monospace;
    color: black;
}

.link{
  text-decoration: none;
  color: black;
  opacity: 0.6; 
}
.home {
  color: #ff2e63;
}

.menuppal ul li a:hover{
  text-decoration:none;
  opacity: 1;
  color: #ff2e63;
}
.hidden{
  display: none;
}

/*MAIN*/
.main__container{
  margin-left: 18px;
  margin-right: 18px;
}
.aboutMypresentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.main__title{
  font-size: 26px;
  font-family: 'Mulish', sans-serif;
  width: 142px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.separator {
  position: relative;
  width: 100%;
  margin: -10px 0 30px;
  height: 5px;
  display: block;
  text-align: center;
}
.separator span {
  display: block;
  position: relative;
  width: 5px;
  height: 5px;
  background: #ff2e63;
  border-radius: 10px;
  margin: 0 auto;
}
span::before, span::after{
  content: "";
  vertical-align: top;
  border-bottom: 1px solid black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 9pt;
  height: 2px;
  width: 28px;
}

span::after {
  left: 9pt;
  right: inherit;
}

.main__text{
  color: black;
  font-family: monospace;
  font-size: 12px;
}


/*PORTFOLIO*/

.main__title .portfolio{
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    width: 120px;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.portfolioArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#separtorPortfolio{
  margin: -24px 0 30px;
}
.smallText{
  margin-bottom: 30px;
}

.section__button{
  display: flex;
  justify-content: center;
}
.btn{
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #666;
  color: white;
}
.show {
  display: flex;
  flex-direction: column;
}
.container__htmlcss, .container__react, .container__javascript{
  position: relative;
}

.linkProyect{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  background-color: #f1f1f1;
  padding: 3px 3px 3px 3px;
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: none;
}



/*CONTACT*/
.contactArticle{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 50px;
}
.contactMe{
  width: 174px;
}
.form__container {
  margin-top:30px;

}
.contactForm{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 30px 45px 20px;
    background-color: white;
    box-shadow: 0px 5px 10px #b9bdbe, 0 0 0 10px #EEF5F7 inset;
    margin-right: 18px;
    margin-left: 18px;

}
.main__label, .inputMessage{
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}
.contactForm label{
    display: block; 
  }

  .contactForm input[type='text'], .contactForm textarea{
    padding: 7px 6px;
    width: 200px; /* una longitud definida */
    border: 1px solid #CED5D7;
    resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contactForm input[type='text']:focus, .contactForm textarea:focus{
    outline: none; /* reset especifico para Chrome/Safari */
    box-shadow:0 0 0 3px #dde9ec;
}

.contactForm input[type='submit']{
    border: none;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    text-shadow: 1px 1px 0px white;
    cursor: pointer;
    font-size: 10px;
    background-color: #f1f1f1;
    margin-top: 10px;
}
.contactForm input[type='submit']:hover{
   background-color: #ddd;
}
.contactForm input[type='submit']:active{
     background-color: #666;
 
}
/*FOOTER*/
.footer__container{
  margin-top: 356px;
}